# -*- coding: utf-8 -*-

PyMySQL==0.9.3
Django==2.2.24
mysqlclient==1.4.6
#face_recognition=1.2.3//windows无法直接pip安装，可使用conda

#部署到网上需要https才能使用摄像头
#https库
#django-extensions
#django-werkzeug-debugger-runserver
#pyOpenSSL
